# Eclipse 관련폴더 및 파일무시
.classpath
.project
.settings/
eclipse/
fullstack_sally/
fullstack_test/
fullstack_youngmin/

# 빌드 결과물 무시
/bib/
/build/
# IDE관련
.idead/
*.iml
# os변 임시파일
*.DS_Store
Thumbs.db
# 로그파일
*.log
