<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thejoa703.dao.EmpDao">

  
  <select resultType="EmpDto" id="test6">
  select * from emp
  <where>
  empno in
  <foreach item="no" collection="list"
         separator="," open="(" close=")">
    #{no}
</foreach> 
  </where>
  </select>
  
    
    <resultMap id="authMap" type="com.thejoa703.dto.AuthDto">
        <result property="email" column="email"/> 
        <result property="auth" column="auth"/> 
    </resultMap>

    <resultMap id="appUserAuthMap" type="com.thejoa703.dto.AppUserAuthDto">
        <result property="email" column="email"/> 
        <result property="password" column="password"/> 
        <collection property="authList" resultMap="authMap"/>
    </resultMap>

    <select id="readAuth" 
            parameterType="com.thejoa703.dto.AppUserAuthDto" 
            resultMap="appUserAuthMap">
        SELECT u.email, password, auth
        FROM appuser u 
        LEFT JOIN authorities a ON (u.email = a.email)
        WHERE u.email = #{email}
    </select>
    
   

</mapper>
  
  
 
